*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #120821;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 9%;
    background-color: #2D4669;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    z-index: 120;
}
.navbar ul{
    display: flex;

}
.navbar ul li {
    list-style: none;
    margin-left: 25px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: rgb(95, 137, 173);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(22, 58, 90, 0.4);
    border-bottom: 1px solid rgba(21, 63, 99, 0.353);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.navbar ul li a:hover {
    letter-spacing: 3px;
    background-color: #0f2136;
    color: aqua;
}
.home{
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 32px;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home .btn{
    display: flex;
}
.down{
    display: inline-block;
    padding: 10px 30px;
    background: #2661a3;
    border: 2px solid #2661a3;
    border-radius: 40px;
    box-shadow: 0 0 10px #2661a3;
    font-size: 16px;
    color: #120821;
    font-weight: 600;
    transition: 0.5s;
}
.down:hover{
    background: transparent;
    color: #2661a3;
    box-shadow: none;
}
.home .btn .social{
    margin-left: 20px;
    margin-top: 4px;
}
.home .btn .social a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #2661a3;
    border-radius: 50%;
    font-size: 20px;
    color: #2661a3;
    margin: 0 8px;
    transition: 0.5s;
}
.home .btn .social a:hover{
    background: #2661a3;
    color: #120821;
    box-shadow: 0 0 10px #2661a3;
}