*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #120821;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 9%;
    background-color: #2D4669;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    z-index: 120;
}
.navbar ul{
    display: flex;

}
.navbar ul li {
    list-style: none;
    margin-left: 25px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: rgb(95, 137, 173);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(22, 58, 90, 0.4);
    border-bottom: 1px solid rgba(21, 63, 99, 0.353);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.navbar ul li a:hover {
    letter-spacing: 3px;
    background-color: #0f2136;
    color: aqua;
}
.home{
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
    display: flex;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 32px;
    display: inline-block;
}
.home-info h2 span{
    display: inline-block;
    position: relative;
    color: transparent;
    -webkit-text-stroke: .7px #2661a3;
    animation: display-text 15s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text{
    25%,100%{
        display: none;
    }
}
.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #2661a3;
    color: #2661a3;
    overflow: hidden;
    white-space: nowrap;
    animation: fill 4s linear infinite;
}
@keyframes fill{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home .btn{
    display: flex;
}
.down{
    display: inline-block;
    padding: 10px 30px;
    background: #2661a3;
    border: 2px solid #2661a3;
    border-radius: 40px;
    box-shadow: 0 0 10px #2661a3;
    font-size: 16px;
    color: #120821;
    font-weight: 600;
    transition: 0.5s;
}
.down:hover{
    background: transparent;
    color: #2661a3;
    box-shadow: none;
}
.home .btn .social{
    margin-left: 20px;
}
.home .btn .social a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #2661a3;
    border-radius: 50%;
    font-size: 20px;
    color: #2661a3;
    margin: 0 8px;
    transition: 0.5s;
}
.home .btn .social a:hover{
    background: #2661a3;
    color: #120821;
    box-shadow: 0 0 10px #2661a3;
}
.home-img .img-box .img-item img{
    width: 30vw;
    height: 30vw;
}
.section{
    width: 100%;
    height: 100vh;
    background-color: #120821;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h2{
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 20px;
}
.progess-bar{
    background: #476793;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}
.progess-bar div{
    height: 10px;
    width: 0%;
    border-radius: 5px;
}
.progess-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #1F2937;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.photoshop{
    background: #00ff11;
    animation: photoshop 1s linear forwards;
}
.figma{
    background: #00aaff;
    animation: figma 1s linear forwards;
}
.ill{
    background: #9500ff;
    animation: ill 1s linear forwards;
}
.python{
    background: #ffbb00;
    animation: python 1s linear forwards;
}
.after{
    background: #ff00d9; 
    animation: after 1s linear forwards;
}
.photoshop span{
    border: 1px solid #00ff11;
}
.figma span{
    border: 1px solid #00aaff;
}
.ill span{
    border: 1px solid #9500ff;
}
.python span{
    border: 1px solid #ffbb00;
}
.after span{
    border: 1px solid #ff00d9; 
}
@keyframes photoshop{
    100%{
        width: 70%;
    }
}
@keyframes figma{
    100%{
        width: 80%;
    }
}
@keyframes ill{
    100%{
        width: 50%;
    }
}
@keyframes python{
    100%{
        width: 40%;
    }
}
@keyframes after{
    100%{
        width: 25%;
    }
}
.heading h1{
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-right: 10vw;
}
.heading h1 span{
    color: #00aaff;
    font-weight: 900;
}
.projects{
    width: 100%;
    height: 110vh;
    background-color: #476793;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.projects .card{
    position: relative;
    width: 350px;
    height: 300px;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.3);
    transition: 0.5s;
}
.projects .card:hover{
    height: 400px;
    background: #0f2136;
}
.projects .card .img{
    position: absolute;
    width: 300px;
    overflow: hidden;
    height: 220px;
    background: #00aaff;
    top: 10px;
    border-radius: 20px;
    left: 25px;
    transition: 0.5sec;
}
.projects .card:hover .img{
    top: -100px;
    scale: 0.75;
    box-shadow: rgba(0, 0, 0, 0.4);
}
.projects .card .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects .card .content{
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 240px;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.projects .card:hover .content{
    top: 150px;
    height: 250px;
    color: #fff;
}
